<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%X{traceId}][%d{yyyy/MM/dd HH:mm:ss.SSS}][%p][%logger{0}:%L] %m%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="console" />
    </root>
    <logger name="org.springframework.jdbc.core" level="INFO" />
    <logger name="java.sql" level="INFO" />
    <logger name="com.qunar.hotel" level="INFO" />
</configuration>